[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
line-bot-sdk = "==1.19.0"
requests = "==2.25.1"
Flask = "==2.0.0"
beautifulsoup4 = "*"
lxml = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
